<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <h2>Sign In</h2>
            <hr>
            <form (ngSubmit)="signIn(f.form)" #f="ngForm">
                <div [ngClass]="{ 'has-error': username.touched && !username.valid }" class="form-group">
                    <label class="control-label">User</label>
                    <input 
                        id="username"
                        ngControl="username"
                        #username="ngForm"
                        class="form-control input-lg" 
                        type="text"
                        placeholder="User account"
                        required>
                    <span *ngIf="username.touched && !username.valid" class="help-block">
                        Username cannot be blank
                    </span>
                </div>
                <div [ngClass]="{ 'has-error': password.touched && !password.valid }" class="form-group">
                    <label class="control-label">Password</label>
                    <input 
                        id="password"
                        ngControl="password"
                        #password="ngForm"
                        type="password" 
                        class="form-control input-lg"
                        placeholder="Password"
                        required>
                    <span *ngIf="password.touched && !password.valid" class="help-block">
                        Password cannot be blank
                    </span>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox"> Stay connected</label>  
                </div>
                <div class="form-group">
                    <button [disabled]="!f.valid"
                            class="btn btn-lg btn-primary" 
                            type="submit">
                        Sign In
                    </button>
                </div>
            </form>     
        </div>
    </div> 
</div>